header {
  padding: 156px 0 100px;
}

section {
  padding: 25px 0;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.profile-image {
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.center-text {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.black-card {
  background-color: black;
  color: white;
}

.white-card {
  background-color: white;
  color: black;
}

.black-text {
  color: black;
  font-size: 20px;
}

.white-text {
  color: white;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

.music-icon {
  display: none;
}

.music-header:hover + .music-icon {
  display: inline-block;
}

td, th {
  text-align: left;
  padding: 8px;
}

.padding-image {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.most-picked-img {
  width: 42px;
}

.nav-logo {
  height: 70px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Acme', sans-serif;
}
.nav-font {
  font-family: 'Acme', sans-serif;
}

h2 > a {
  display: none;
}

h4 > a {
  display: none;
}

h2:hover > a {
  display: inline;
}

h4:hover > a {
  display: inline;
}

.padding-right {
  padding-right: 20px;
}

.footer-text {
  color: white;
}

.blurred-background {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 3px;
}

.slide-effect {
  animation: slide-effect 7.5s;
  animation-iteration-count: infinite;
}

@keyframes slide-effect {
  0% {
    margin-left: 100%;
    width: 300%; 
  }

  10%, 80% {
    margin-left: 0%;
    width: 100%;
  }

  100% {
    margin-left: -500%;
  }
}

.img-container {
  text-align: center;
}